<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab01">
        <activity android:name="lab08.Lab08FormActivity"></activity>
        <activity android:name="lab08.Lab08RecyclerViewActivity" />
        <activity android:name="lab07.Lab07FormActivity" />
        <activity android:name="lab07.Lab07OutputActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lab06.OutputActivity" />
        <activity android:name="lab06.ListViewActivity" />
        <activity android:name="lab05.AlertDialogActivity" />
        <activity android:name="lab04.Formlab4Activity" />
        <activity android:name="lab02.LoginActivity" />
        <activity android:name="lab02.RadioButtonsActivity" />
        <activity android:name="lab02.IncreaseValueActivity" />
        <activity android:name="lab01.LoginForm2Activity" />
        <activity android:name="lab01.IconAndNameActivity" />
        <activity android:name="lab01.ImageAndText" />
        <activity android:name="lab01.LoginForm" />
        <activity android:name="lab01.FormActivity" />
    </application>

</manifest>